* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    width: 1440px;
}
.navigation {
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
    
}

.mainlinks {
    display: inline-flex;
    flex-direction: row;
    text-decoration: none;
    margin: 29px 281px 29px 297px;
    align-items: flex-start;
    gap: 44px;
    color: #726E8D;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style-type: none;    
}
.logo {
    color: #22202E;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 25px 0 26px 80px;
    width: 148px;
    
}

.sideactions {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    padding-top: 34px;
    padding-right: 80px;
}
.header {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.Viewallproducts {
    color: #2A254B;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    display: flex;
    justify-content: center;
    margin: 80px 556px 93px 575px;
}
.grid-container {
    display: grid;
    display: block;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.image {
    width: 305px;
    height: 375px;
    
}

.Listings {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 20px;
    align-items: flex-start;
    padding: 28px 80px 20px 80px;
    background: white;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #2A254B;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding: 16px 32px;
    margin: 48px 630px 40px 635px;
}
.flex-container2 {
    display: inline-flex;
    flex-direction: column;
}
.Image1 {
    width: 720px;
    height: 521px;
    background-image: url("../Images/join-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}
.p1 {
    color: #2A254B;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 21px;
    margin-top: 71px;
    margin-left: 49px;
}
.p2 {
    color: #2A254B;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;  
    width: 470px;
    height: 48px;
    margin-left: 49px;
}
.p3 {
    width: 120px;
    height: 56px;
    margin-top: 216px;
    color: #FFF;
    background-color: #2A254B;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 70px;
    margin-left: 72px;
    padding: 16px 32px;
}

.footer {
    width: 1440px;
    height: 380px;
    background: #2A254B;
}
.footer1 {
    display: inline-flex;
    flex-direction: row;
    background: #2A254B;
    text-decoration: none;
}
.footer2 {
    display: inline-flex;
    flex-direction: row;
    
}
.menu {
    color: #FFF;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin-top: 58px;
    margin-left: 82px;
    list-style-type: none;
    width: 117px;
}
.categories {
    color: #FFF;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin-top: 58px;
    margin-left: 82px;
    margin-bottom: 48px;
    list-style-type: none;
    width: 86px;
}
.ourcompany {
    color: #FFF;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin-top: 58px;
    margin-left: 82px;
    width: 111px;
    list-style-type: none;
}

.image3 {
    width: 642px;
    height: 195px;
    display: inline-flex;
    margin: 58px 83px 59px 153px; 
}

.Copyright {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 24px;
    margin-left: 80px;
}
.sideactions1 {
    display: inline-flex;
    align-items: flex-end;
    gap: 24px;
    margin-left: 844px;
}
.icon1 {
    width: 24px;
    height: 24px;
    background-image: url("../Images/logo--linkedin.svg");
    background-size: cover;

}
.icon2 {
    width: 24px;
    height: 24px;
    background-image: url("../Images/logo--facebook.svg");
    background-size: cover;
}
.icon3 {
    width: 24px;
    height: 24px;
    background-image: url("../Images/logo--instagram.svg");
    background-size: cover;
}
.icon4 {
    width: 24px;
    height: 24px;
    background-image: url("../Images/logo--skype.svg");
    background-size: cover;
}
.icon5 {
    width: 24px;
    height: 24px;
    background-image: url("../Images/logo--twitter.svg");
    background-size: cover;
}
.icon6 {
    width: 24px;
    height: 24px;
    background-image: url("../Images/logo--pinterest.svg");
    background-size: cover;
}
.filters {
    display: inline-flex;
    width: 1232px;
    position: relative;
    
}
.filters1 {
    color: #2A254B;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    display: flex;
    align-items: center;
    margin-left: 80px;
    width: 570px;
    
}
.filters2 {
    color: #2A254B;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    display: flex;
    align-items: center;
    margin-left: 417px;
    margin-right: 80px;
}
.buttonheader {
    padding: 12px 24px;
    border: #FFF;
}

.Email {
    display: inline-flex;
    justify-content: center;
}
.grid-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.p4 {
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    width: 164px;
    padding-top: 24px;
}
.p5 {
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    width: 42px;
    padding-top: 12px;
}